In [1]:
%cd ..

/gpfs/home5/scur1767/machine-generated-text-detector

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from IPython.display import display

%matplotlib inline

In [3]:
orig_df = pd.read_csv("./results/results.csv")

In [4]:
orig_df.head(n=10)

,train_data,train_llm,test_data,test_llm,split,size,seed,paired,accuracy,auc
0,wikitext,openai,wikitext,openai,train,m,42,unpaired,0.999687,1.000000
1,wikitext,openai,wikitext,openai,val,m,42,unpaired,1.000000,1.000000
2,wikitext,openai,wikitext,openai,test,m,42,unpaired,1.000000,1.000000
3,wikitext,openai,wikitext,mistral7b,test,m,42,unpaired,0.898936,0.989578
4,wikitext,openai,wikitext,llama3,test,m,42,unpaired,0.924350,0.998002
5,wikitext,openai,squad,mistral7b,test,m,42,unpaired,0.488181,0.368442
6,wikitext,openai,squad,openai,test,m,42,unpaired,0.506680,0.975800
7,wikitext,openai,squad,llama3,test,m,42,unpaired,0.489209,0.516885
8,wikitext,openai,followupqg,mistral7b,test,m,42,unpaired,0.514781,0.793571
9,wikitext,openai,followupqg,llama3,test,m,42,unpaired,0.519559,0.696132

## Cross-dataset, same model, paired

In [5]:
df = orig_df.copy()
w1 = df.train_llm == df.test_llm
w2 = df.split == "test"
w3 = df.paired == "paired"
w = w1 & w2 & w3
df = df[w]

for model in ['mistral7b', 'llama3', "openai"]:
    w = df.train_llm == model
    subdf = df[w]
    print(model)
    display(subdf.groupby(["train_data", "test_data"])['auc'].mean().unstack().round(4))

mistral7b

test_data   followupqg   squad  wikitext
train_data
followupqg      0.9924  0.3149    0.9152
squad           0.2195  0.9806    0.9644
wikitext        0.6456  0.5405    0.9954

llama3

test_data   followupqg   squad  wikitext
train_data
followupqg      0.9929  0.4466    0.9104
squad           0.4753  0.9607    0.8469
wikitext        0.6234  0.6143    1.0000

openai

test_data   followupqg   squad  wikitext
train_data
followupqg      0.9856  0.6776    0.6905
squad           0.4609  0.9998    1.0000
wikitext        0.4200  0.9760    1.0000

## Cross-model, same dataset, paired

In [6]:
df = orig_df.copy()
w1 = df.train_data == df.test_data
w2 = df.split == "test"
w3 = df.paired == "paired"
w = w1 & w2 & w3
df = df[w]

for dataset in ['followupqg', 'squad', 'wikitext']:
    w = df.train_data == dataset
    subdf = df[w]
    print(dataset)
    display(subdf.groupby(["train_llm", "test_llm"])['auc'].mean().unstack().round(4))

followupqg

test_llm   llama3  mistral7b  openai
train_llm
llama3     0.9929     0.9926  0.9643
mistral7b  0.9876     0.9924  0.9485
openai     0.9428     0.9463  0.9856

squad

test_llm   llama3  mistral7b  openai
train_llm
llama3     0.9607     0.8185  0.7619
mistral7b  0.8113     0.9806  0.8293
openai     0.5710     0.6037  0.9998

wikitext

test_llm   llama3  mistral7b  openai
train_llm
llama3     1.0000     0.9907     1.0
mistral7b  0.9997     0.9954     1.0
openai     0.9979     0.9898     1.0

## Paired VS Un paired

In [7]:
df = orig_df.copy()
w1 = df.train_llm == df.test_llm
w2 = df.split == "test"
w = w1 & w2
df = df[w]

for model in ['mistral7b', 'llama3', "openai"]:
    w = df.train_llm == model
    subdf = df[w]
    print(model)
    display(subdf.groupby(["train_data", "test_data", "paired"])['auc'].mean().unstack().round(4))

mistral7b

paired                 paired  unpaired
train_data test_data
followupqg followupqg  0.9924    0.9861
           squad       0.3149    0.3023
           wikitext    0.9152    0.9341
squad      followupqg  0.2195    0.1909
           squad       0.9806    0.9760
           wikitext    0.9644    0.9438
wikitext   followupqg  0.6456    0.6443
           squad       0.5405    0.5348
           wikitext    0.9954    0.9954

llama3

paired                 paired  unpaired
train_data test_data
followupqg followupqg  0.9929    0.9866
           squad       0.4466    0.4372
           wikitext    0.9104    0.9187
squad      followupqg  0.4753    0.4381
           squad       0.9607    0.9561
           wikitext    0.8469    0.8441
wikitext   followupqg  0.6234    0.6223
           squad       0.6143    0.6298
           wikitext    1.0000    1.0000

openai

paired                 paired  unpaired
train_data test_data
followupqg followupqg  0.9856    0.9774
           squad       0.6776    0.4945
           wikitext    0.6905    0.3334
squad      followupqg  0.4609    0.4021
           squad       0.9998    0.9997
           wikitext    1.0000    1.0000
wikitext   followupqg  0.4200    0.4204
           squad       0.9760    0.9758
           wikitext    1.0000    1.0000

In [8]:
df = orig_df.copy()
w1 = df.train_data == df.test_data
w2 = df.split == "test"
w = w1 & w2
df = df[w]

for dataset in ['followupqg', 'squad', 'wikitext']:
    w = df.train_data == dataset
    subdf = df[w]
    print(dataset)
    display(subdf.groupby(["train_llm", "test_llm", "paired"])['auc'].mean().unstack().round(4))

followupqg

paired               paired  unpaired
train_llm test_llm
llama3    llama3     0.9929    0.9866
          mistral7b  0.9926    0.9876
          openai     0.9643    0.9516
mistral7b llama3     0.9876    0.9724
          mistral7b  0.9924    0.9861
          openai     0.9485    0.9020
openai    llama3     0.9428    0.9184
          mistral7b  0.9463    0.9184
          openai     0.9856    0.9774

squad

paired               paired  unpaired
train_llm test_llm
llama3    llama3     0.9607    0.9561
          mistral7b  0.8185    0.8032
          openai     0.7619    0.7574
mistral7b llama3     0.8113    0.8061
          mistral7b  0.9806    0.9760
          openai     0.8293    0.7806
openai    llama3     0.5710    0.5701
          mistral7b  0.6037    0.5771
          openai     0.9998    0.9997

wikitext

paired               paired  unpaired
train_llm test_llm
llama3    llama3     1.0000    1.0000
          mistral7b  0.9907    0.9905
          openai     1.0000    1.0000
mistral7b llama3     0.9997    0.9998
          mistral7b  0.9954    0.9954
          openai     1.0000    1.0000
openai    llama3     0.9979    0.9980
          mistral7b  0.9898    0.9896
          openai     1.0000    1.0000