In [1]:
%cd ..

/home/gergopool/work/uva/dl4nlp/machine-generated-text-detector

In [15]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from IPython.display import display

%matplotlib inline

In [4]:
orig_df = pd.read_csv("results/results.csv")

In [5]:
df.head()

,train_data,train_llm,test_data,test_llm,split,size,seed,accuracy,auc
0,wikitext,llama3,wikitext,llama3,train,m,2,0.997500,0.999955
1,wikitext,llama3,wikitext,llama3,val,m,2,0.998099,0.999949
2,wikitext,llama3,wikitext,llama3,test,m,2,0.998227,0.999985
3,wikitext,llama3,wikitext,mistral7b,test,m,2,0.978723,0.990338
4,wikitext,llama3,followupqg,mistral7b,test,m,2,0.489297,0.360674

## Cross-dataset, same model

In [16]:
df = orig_df.copy()
w1 = df.train_llm == df.test_llm
w2 = df.split == "test"
w = w1 & w2
df = df[w]

for model in ['mistral7b', 'llama3', "openai"]:
    w = df.train_llm == model
    subdf = df[w]
    print(model)
    display(subdf.groupby(["train_data", "test_data"])['auc'].mean().unstack().round(4))

mistral7b

test_data   followupqg   squad  wikitext
train_data
followupqg      0.9989  0.5230    0.9364
squad           0.6576  0.9821    0.9724
wikitext        0.3877  0.5474    0.9957

llama3

test_data    squad  wikitext
train_data
squad       0.9545    0.8287
wikitext    0.6363    1.0000

## Cross-model, same dataset

In [17]:
df = orig_df.copy()
w1 = df.train_data == df.test_data
w2 = df.split == "test"
w = w1 & w2
df = df[w]

for dataset in ['followupqg', 'squad', 'wikitext']:
    w = df.train_data == dataset
    subdf = df[w]
    print(dataset)
    display(subdf.groupby(["train_llm", "test_llm"])['auc'].mean().unstack().round(4))

followupqg

test_llm   mistral7b
train_llm
mistral7b     0.9989

squad

test_llm   llama3  mistral7b
train_llm
llama3     0.9545     0.8034
mistral7b  0.8160     0.9821

wikitext

test_llm   llama3  mistral7b
train_llm
llama3     1.0000     0.9904
mistral7b  0.9997     0.9957